root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{php,js,css,html}]
indent_style = tab
tab_width = 4

# Common data formats stay space-indented
[*.{json,yml,yaml,md}]
indent_style = space
indent_size = 2
